/* General body style */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

/* Center the form and make it bigger */
form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

/* Form elements spacing */
form label, form input, form select {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

form button {
  display: block;
  width: calc(50% - 20px);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Form title */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Buttons style */
button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Primary button style */
#cargarFilialForm button[type="submit"] {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

#cargarFilialForm button[type="submit"]:hover {
  background-color: #0056b3;
}
#elegirFilialForm button[type="submit"] {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

#elegirFilialForm button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Secondary button style */
#agregarHorario {
  background-color: #5bc0de;
  color: white;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

#agregarHorario:hover {
  background-color: #31b0d5;
}


.cambiarRol {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.cambiarRol:hover {
  background-color: #0056b3;
}