body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.publicacion {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.publicacion p {
    margin: 5px 0;
}

.publicacion img {
    max-width: 25%; /* Limita el ancho máximo al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin-bottom: 10px; /* Espacio entre imágenes */
    border-radius: 8px; /* Añade bordes redondeados a las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para efecto visual */
}
